html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --base-text-color: #031926;
  --primary-color: #ffa552;
  --off-primary-color: #ffcc9d;
  --off-primary-color2: #e6aa73;
  --secondary-color: #8c86aa;
  --tertiary-color: #2e86ab;
  --base-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: var(--base-text-color);
  background-color: var(--base-color);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body.dark-theme {
  --base-text-color: #fafafa;
  --primary-color: #8c86aa;
  --off-primary-color: #ada8c7;
  --off-primary-color2: #bfbbd5;
  --secondary-color: #fafafa;
  --tertiary-color: #2e86ab;
  --base-color: #031926;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: var(--base-text-color);
  background-color: var(--base-color);
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 1.5em;
}

ol,
ul {
  list-style: none;
}

ul li a {
  display: block;
  position: relative;
  color: var(--base-text-color);
  text-decoration: none;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: var(--base-text-color);
  width: 0;
  height: 0.1em;
  opacity: 0;
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    right 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul a:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}
ul a:hover::after {
  width: 100%;
  right: 0;
  opacity: 1;
}

button {
  position: relative;
  font-family: inherit;
  font-size: 100%;
  background: none;
  border-style: none;
  color: var(--base-text-color);
}
button:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translateY(-0.1em) rotate(1deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-0.2em);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translateY(-0.1em) rotate(-1deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: linear;
  }
}

.slideUp {
  animation-name: slide-up;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
.slideDown {
  animation-name: slide-down;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.baseFlex {
  display: flex;
  align-items: center;
}

.marginCenter {
  max-width: min(80vw, 1080px);
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1080px) {
  .marginCenter {
    max-width: 100vw;
  }
}

.regularFont {
  font-weight: normal;
}

.smallFont {
  font-size: 0.6em;
}

.primary {
  color: var(--primary-color);
}

.baseButton {
  font-weight: bold;
  border-radius: 0.3em;
  width: 10em;
  padding: 0.4em 1.5em;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.baseButton:hover {
  background-color: var(--tertiary-color);
  color: var(--base-color);
}
.baseButton::after {
  content: "";
  position: absolute;
  left: 0.15em;
  top: 0.15em;
  width: 100%;
  height: 100%;
  border-color: var(--tertiary-color);
  border-style: solid;
  border-width: 0.08em;
  border-radius: 0.3em;
  padding: 0.8em;
}
.baseButton::before {
  content: "";
  position: absolute;
  left: -0.15em;
  top: -0.15em;
  width: 100%;
  height: 100%;
  border-color: var(--tertiary-color);
  border-style: solid;
  border-width: 0.08em;
  border-radius: 0.3em;
  padding: 0.8em;
}

.smallBtn {
  width: 8em;
}

.navbar,
.nav {
  justify-content: space-between;
}
.navbar-wrapper {
  position: fixed;
  width: 100%;
  background: linear-gradient(to top, #ffffff00, var(--base-color) 80%);
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
}
.nav {
  width: 25vw;
  min-width: 330px;
  margin-right: 1em;
}
@media only screen and (max-width: 1080px) {
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar,
  .navbar-wrapper {
    padding: 0.2em;
    margin: 0;
  }

  .nav {
    display: none;
  }
}

.iconButtons {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.iconButtons img {
  margin-right: 0.8em;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.iconButtons img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 850px) {
  body,
  body.dark-theme {
    font-size: 18px;
  }
  #home {
    flex-direction: column;
  }
  .mainSection,
  .secondarySection,
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    min-height: 600px;
  }
  .mainSection > .baseFlex {
    flex-direction: column;
  }
  .mainSection > .baseFlex > a > button {
    margin-right: 0;
    margin-top: 1em;
  }
}
#home {
  justify-content: space-around;
}
.mainSection > .baseFlex > a > button {
  margin-right: 1em;
}
.devImage {
  position: relative;
}
.devImage > img {
  position: absolute;
  top: -3em;
  z-index: -1;
}
.secondarySection {
  padding-bottom: 5em;
}
@media only screen and (max-width: 850px) {
  .devImage,
  .devImage > img {
    position: inherit;
  }
}

#projects {
  flex-direction: column;
  padding-top: 5em;
}
.projectList {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  background-color: var(--primary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
  width: 16em;
  margin-top: 2em;
  overflow: hidden;
}
.cardImg {
  height: 10em;
  overflow: hidden;
}
.cardDesc {
  height: 5em;
  justify-content: flex-start;
  flex-direction: column;
}
.cardDetail {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.cardButtons > a {
  width: 50%;
}
.cardButtons > a > button {
  width: 100%;
  height: 1.5em;
  font-size: 0.8em;
  border: none;
  background-color: var(--off-primary-color);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cardButtons > a > button:hover {
  background-color: var(--off-primary-color2);
}

#contact {
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.contactSet {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2em;
}
.contactSetButton {
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 2vh;
}
.footerText {
  font-size: 0.5em;
  color: var(--secondary-color);
  text-align: center;
}

.anim {
  opacity: 0;
}
