name: Deploy
run-name: ${{ github.actor }} is building ${{ github.sha }}
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: 'Build and Push Image'
        run: |
          docker build -t portfolio .
          docker tag portfolio:latest ghcr.io/saliovin/portfolio:latest
          docker push ghcr.io/saliovin/portfolio:latest
      
      - name: Restarting Docker Compose Through SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: docker compose restart
